body{
    background-color: #F2F2F2 !important;
}
.PrimaryBg{
    background-color: #2B6777 !important;
}
.SecondaryBg{
    background-color: #52AB98 !important;
}
.tertiaryBg{
    background-color: #F2F2F2 !important;
}
.PrimaryColor{
    color: #2B6777 !important;
}
.SecondaryColor{
    color: #52AB98 !important;
}
.tertiaryColor{
    color: #F2F2F2 !important;
}

.ActiveSecondarytile{
    background-color: #52AB98 !important;
    color: #F2F2F2 !important;
}

